<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title> 
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <script id="container" name="container" type="text/plain">
                【请输入标题】
            </script>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div id="app">
        <div class="row">
            <div class="col-md-4">
                <label>请选择大类名称</label>
                <select  class="classList"  v-model="classId">
                    <option v-for="list in classList" v-bind:value="list.id">{{list.className}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>请选择标签名称</label>
                <select class="tagList"  v-model="tagId">
                    <option v-for="tag in tagList" v-bind:value="tag.id">{{tag.tagName}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <button v-on:click=" post">上传</button>
            </div>
        </div>           
    </div>
    <script src="../lib/ueditor/ueditor.config.js"></script>
    <script src="../lib/ueditor/ueditor.all.min.js"></script>
    <script src="/js/vue.js" language="javascript"></script>
    <script src="/js/vue-resource.js" language="javascript"></script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('container', {
            initialFrameHeight: 250
        });
        window.onload = function () {
            var app = new Vue({
                el: '#app',
                data: {
                    textContent: "",
                    Context: "",
                    tagList: [],
                    classList: [],
                    classId: 0,
                    tagId: 0,
                },
                methods: {
                    post: function () {
                        app.textContent = UE.getEditor('container').getContentTxt(),
                            app.Context = UE.getEditor('container').getContent(),
                            this.$http.post('/api/article/SaveImageNameAndText', {
                            "source": this.$data.Context,
                            "textContent": this.$data.textContent,
                            "classId": this.classId,
                            "tagId": this.tagId
                            })
                                .then(
                                    function (res) {
                                        alert('上传成功');
                                    },
                                    function () {
                                        alert('上传失败');   //失败处理
                                    });
                    },

                      //发送获取标签请求请求
                    getAllTag: function () {
                        this.$http.get("/api/tag/GetAllTag", {})
                            .then(
                                function (res) {
                                    this.$data.tagList = res.body;
                                    this.tagId = this.$data.tagList[0].id;
                                    console.log(this.$data.list);
                                },
                                function () {
                                    alert("请求发送失败");
                                }
                            );
                    },

                    //发送获取大类请求
                    getAllClass: function () {
                        this.$http.get("/api/class/GetAllclass", {})
                            .then(
                            function (res) {
                                this.$data.classList = res.body;
                                this.classId = this.$data.classList[0].id;
                                console.log(this.$data.classList[0].id);
                                },
                                function () {
                                    alert("请求发送失败");
                                }
                            );
                    }
                }
            });
            app.getAllTag();
            app.getAllClass();
        }
    </script>
</body>
</html>