<!DOCTYPE html>
<html>

<head>
<title>BusinessNews</title>

<meta name="keywords" content="" />
<meta name="description" content="" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<!--[if lt IE 9]>
<script type="text/javascript" src="layout/plugins/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="layout/style.css" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="layout/js/jquery.js"></script>

<!-- PrettyPhoto start -->
<link rel="stylesheet" href="layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="layout/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
<!-- PrettyPhoto end -->

<!-- jQuery tools start -->
<script type="text/javascript" src="layout/plugins/tools/jquery.tools.min.js"></script>
<!-- jQuery tools end -->

<!-- Calendar start -->
<link rel="stylesheet" href="layout/plugins/calendar/calendar.css" type="text/css" />
<script type="text/javascript" src="layout/plugins/calendar/calendar.js"></script>
<!-- Calendar end -->

<!-- ScrollTo start -->
<script type="text/javascript" src="layout/plugins/scrollto/jquery.scroll.to.min.js"></script>
<!-- ScrollTo end -->

<!-- MediaElements start -->
<link rel="stylesheet" href="layout/plugins/video-audio/mediaelementplayer.css" />
<script src="layout/plugins/video-audio/mediaelement-and-player.js"></script>
<!-- MediaElements end -->

<!-- FlexSlider start -->
<link rel="stylesheet" href="layout/plugins/flexslider/flexslider.css" type="text/css" />
<script type="text/javascript" src="layout/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- FlexSlider end -->

<!-- iButtons start -->
<link rel="stylesheet" href="layout/plugins/ibuttons/css/jquery.ibutton.css" type="text/css" />
<script type="text/javascript" src="layout/plugins/ibuttons/lib/jquery.ibutton.min.js"></script>
<!-- iButtons end -->

<!-- jQuery Form Plugin start -->
<script type="text/javascript" src="layout/plugins/ajaxform/jquery.form.js"></script>
<!-- jQuery Form Plugin end -->

<script type="text/javascript" src="layout/js/main.js"></script>
<script src="layout/js/vue.js" language="javascript"></script>
<script src="layout/js/vue-resource.js" language="javascript"></script>

<script>
	window.onload=function(){
        var app=new  Vue({
            el:'#app',
            data:{
                articleList: [],
                classId: 2,
                pageSize: 4,
                pageIndex: 1,
                pageIndexs: [],
                activeClass: 1
            },
            mounted: function () {
                this.getArticle();
            },
            methods: {
                getArticle: function () {
                    this.$http.get("/api/article/GetArtilceByClassId?classId=" + this.$data.classId + "&pageSize=" + this.$data.pageSize + "&pageIndex=" + this.$data.pageIndex)
                        .then(
                        function (res) {
                            this.$data.articleList = res.body;
                            },
                            function () {
                                //alert("请求发送失败1");
                            }
                        );
                },
                //根据分页去获取文章信息
                getArticleIndex: function (index) {
                    this.$http.get("/api/article/GetArtilceByClassId?classId=" + this.$data.classId + "&pageSize=" + this.$data.pageSize + "&pageIndex=" + index)
                        .then(
                        function (res) {
                            this.$data.activeClass = index;
                            this.$data.articleList = res.body;
                            },
                            function () {
                                //alert("请求发送失败2");
                            }
                        );
                },
                //上一页获取文章信息
                getArticleIndexPrev: function (index) {
                    if (index == 1) {
                        index = 1;
                    }
                    else {
                        index = index - 1;
                    }
                    this.$http.get("/api/article/GetArtilceByClassId?classId=" + this.$data.classId + "&pageSize=" + this.$data.pageSize + "&pageIndex=" + index)
                        .then(
                            function (res) {
                                this.$data.activeClass = index;
                                this.$data.articleList = res.body;
                            },
                            function () {
                                //alert("请求发送失败3");
                            }
                        );
                },

                //下一页获取文章信息
                getArticleIndexNext: function (index) {
                    if (index == this.$data.pageIndexs[this.$data.pageIndexs.length-1]) {
                        index = this.$data.pageIndexs[this.$data.pageIndexs.length - 1];
                    }
                    else {
                        index = index + 1;
                    }
                    this.$http.get("/api/article/GetArtilceByClassId?classId=" + this.$data.classId + "&pageSize=" + this.$data.pageSize + "&pageIndex=" + index)
                        .then(
                            function (res) {
                                this.$data.activeClass = index;
                                this.$data.articleList = res.body;
                            },
                            function () {
                                //alert("请求发送失败4");
                            }
                        );
                },

                getArticleCount: function () {
                    this.$http.get("/api/article/GetArticleCountByClassId?classId=" + this.$data.classId)
                        .then(
                        function (res) {
                            var list = new Array();
                            var i = res.body / this.$data.pageSize;
                            if (i % this.$data.pageSize > 0) {
                                i = i + 1;
                            }
                            for (var j=1; j <= i; j++) {
                                list[j - 1] = j;
                            }

                            this.$data.pageIndexs = list;
                        },
                        function () {
                            //alert("请求发送失败5");
                        }
                        );

                }
            }
        });

        var article1 = new Vue({
            el: '#article1',
            data: {
                articleList: [],
                classId: 1,
                pageSize: 3,
                pageIndex: 1,
            },
            methods: {
                //发送获取大类请求
                getArticleList: function () {
                    this.$http.get("/api/article/GetArtilceByClassId?classId=" + this.$data.classId + "&pageSize=" + this.$data.pageSize + "&pageIndex=" + this.$data.pageIndex)
                        .then(
                        function (res) {
                            this.$data.articleList = res.body;
                            },
                            function () {
                                //alert("请求发送失败6");
                            }
                        );
                }
            }
        });

        var article2 = new Vue({
            el: '#article2',
            data: {
                articleList: [],
                classId: 1,
                pageSize: 3,
                pageIndex: 2,
            },
            methods: {
                //发送获取大类请求
                getArticleList: function () {
                    this.$http.get("/api/article/GetArtilceByClassId?classId=" + this.$data.classId + "&pageSize=" + this.$data.pageSize + "&pageIndex=" + this.$data.pageIndex)
                        .then(
                            function (res) {
                                this.$data.articleList = res.body;
                            },
                            function () {
                                //alert("请求发送失败7");
                            }
                        );
                }
            }
        });

        var login = new Vue({
            el: '#header',
            data: {
                userName: '',
                showLogin: true,
                showUserName: false,
                showRegister: true,
                allTags: [],
                activeTag:0
            },
            methods: {
                getUserName: function () {
                    this.$http.get('/api/user/GetUserName')
                        .then(
                            function (res) {
                                if (res.body == "false") {
                                    this.$data.userName = "登录";
                                    this.$data.showLogin = true;
                                    this.$data.showUserName = false;

                                }
                                else {
                                    this.$data.userName = res.body;
                                    this.$data.showLogin = false;
                                    this.$data.showUserName = true;
                                    this.$data.showRegister = false;
                                }
                            },
                            function () {
                                this.$data.userName = "登录";
                                this.$data.showLogin = true;
                                this.$data.showUserName = false;
                            });
                },
                //获取所有标签
                getAllTags: function () {
                    this.$http.get('api/tag/GetAllTag')
                        .then(
                        function (res) {
                            this.$data.allTags = res.body;
                        },
                        function () {
                            alert("请求获取失败");
                        }
                        );
                },

                //将TagId赋值实现点击按钮设置当前页
                getTagId: function (id) {
                    this.$data.activeTag = id;
                }

            }
        });
        article1.getArticleList();
        article2.getArticleList();
        app.getArticleCount();
        login.getUserName();
        login.getAllTags();
    };
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	<div class="wrapper sticky_footer">
    	<!-- HEADER BEGIN -->
        <header>
            <div id="header">
            	<section class="top">
                	<div class="inner">
                    	<div class="fl">
                        	<div class="block_top_menu">
                            	<ul>
                                	<li class="current"><a href="index.html">主页</a></li>
                                    <li><a href="contact.html">联系我们</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="fr">
                        	<div class="block_top_menu">
                            	<ul>
                                	<li class="current" v-if="showLogin"><a href="demo.html">登录&注册</a></li>
                                    <li class="current" v-if="showUserName"><a href="#">{{userName}}</a></li>
                                    <li v-if="showUserName"><a href="demo.html">切换账号</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    	<div class="clearboth"></div>
                    </div>
                </section>
                
            	<section class="bottom">
                	<div class="inner">
                    	<div id="logo_top"><h3>PhotoCommunity<br>摄影图片分享交流网站<br>连接摄影爱好者的桥梁</h3></div>
                        
                        <div class="block_today_date">
                        	<div class="num"><p id="num_top" /></div>
                            <div class="other">
                            	<p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                                <p id="day_top" class="day" />
                            </div>
                        </div>
                        
                        <div class="fr">
                        	<div class="block_languages">
                                <div class="clearboth"></div>
                            </div>
                            
                            <div class="block_search_top">
                            	<form action="#" />
                                	<div class="field"><input type="text" class="w_def_text" title="搜索文章" /></div>
                                    <input type="submit" class="button" value="Search"/>
                                    
                                    <div class="clearboth"></div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="clearboth"></div>
                    </div>
                </section>
                
                <section class="section_main_menu">
                	<div class="inner" >
                    	<nav class="main_menu">
                        	<ul>
								<li class="current_page_item"><a href="index.html">主页</a>
                                </li>
                                
							  	<li v-for="tag in allTags" v-bind:class="activeTag == tag.id?'current_page_item':'big_dropdown'" data-content="business" v-on:click="getTagId(tag.id)" ><a :href="'content.html#'+tag.id">{{tag.tagName}}</a></li>
							  	<li><a href="media.html">Media</a>
                                	
                                    <ul>
                                    	<li><a href="media.html">Media</a></li>
                                        <li><a href="media_item.html">Media Item Page</a></li>
                                    </ul>
                                </li>
							  	<li><a href="#">Pages</a>
                                	
                                    <ul>
                                    	<li><a href="about.html">About Us</a></li>
                                        <li><a href="about_author.html">About Author Page</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="registration.html">Registration Page</a></li>
                                        <li><a href="main_news.html">Main News Page</a></li>
                                        <li><a href="news_post_w_slider.html">News Post With Slider</a></li>
                                        <li><a href="news_post_w_video.html">News Post With Video</a></li>
                                    </ul>
                                </li>
						  </ul>
						</nav>
                    </div>
                </section>
                

                
                <section class="section_secondary_menu">
                	<div class="inner">                        
                        <div class="block_clock">
                        	<p>Time: <span id="time"></span></p>
                        </div>
                    </div>
                </section>
            </div>
        </header>
    	<!-- HEADER END -->
        
        <!-- CONTENT BEGIN -->
        <div id="content" class="right_sidebar">
        	<div class="inner">
            	<div class="general_content">
                    <div class="main_content">
                        <div class="block_special_topic">
                            <div class="type"><p>滑动图片区</p></div>
                            <div class="title"><p><a href="#">滑动图片滑滑滑</a></p></div>
                        </div>
                        <div class="separator" style="height:17px;"></div>

                        <div class="block_home_slider">
                            <div id="home_slider" class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="slide">
                                            <img src="images/pic_home_slider_1.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">摄影图片one</p>
                                                <p>摄影图片one描述</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="slide">
                                            <img src="images/pic_home_slider_2.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">摄影图片two</p>
                                                <p>摄影图片two描述</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="slide">
                                            <img src="images/pic_home_slider_3.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">摄影图片three</p>
                                                <p>摄影图片three描述</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="slide">
                                            <img src="images/pic_home_slider_4.jpg" alt="" />
                                            <div class="caption">
                                                <p class="title">摄影图片four</p>
                                                <p>摄影图片four描述</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <script type="text/javascript">
                                $(function () {
                                    $('#home_slider').flexslider({
                                        animation: 'slide',
                                        controlNav: true,
                                        directionNav: true,
                                        animationLoop: true,
                                        slideshow: false,
                                        useCSS: false
                                    });

                                });
                            </script>
                        </div>

                        <div class="clearboth"></div>

                        <div class="line_3" style="margin:14px 0px 13px;"></div>

                        <div class="line_3" style="margin:13px 0px 35px;"></div>
                        <h3 style="font-size:16px;" class="lnk_all_news fl">最新文章</h3>

                        <div class="line_2" style="margin:34px 0px 28px;"></div>

                        <div class="block_home_col_1">
                            <div id="article1">
                                <div class="block_home_post" v-for="list in articleList">
                                    <div class="pic">
                                        <a :href="'news_post.html#'+list.id" class="w_hover">
                                            <img src="images/pic_home_news_1.jpg" alt="" />
                                            <span></span>
                                        </a>
                                    </div>

                                    <div class="text">
                                        <p class="title"><a :href="'news_post.html#'+list.id">{{list.articleTitle}}</a></p>
                                        <div class="date"><p>{{list.createTimeStr}}</p></div>
                                        <div class="icons">
                                            <ul>
                                                <li><a href="#" class="views">{{list.viewCount}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="line_3" style="margin:14px 0px 17px;"></div>
                                </div>
                               
                            </div>

                        </div>

                        <div class="block_home_col_2">
                            <div class="line_3 first" style="margin:14px 0px 17px;"></div>
                            <div id="article2">
                                <div class="block_home_post" v-for="list in articleList">
                                    <div class="pic">
                                        <a :href="'news_post.html#'+list.id" class="w_hover">
                                            <img src="images/pic_home_news_1.jpg" alt="" />
                                            <span></span>
                                        </a>
                                    </div>

                                    <div class="text">
                                        <p class="title"><a :href="'news_post.html#'+list.id">{{list.articleTitle}}</a></p>
                                        <div class="date"><p>{{list.createTimeStr}}</p></div>
                                        <div class="icons">
                                            <ul>
                                                <li><a href="#" class="views">{{list.viewCount}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="line_3" style="margin:14px 0px 17px;"></div>
                                </div>

                            </div>



                        </div>
                        <div class="clearboth"></div>

                        <div class="line_3" style="margin:14px 0px 13px;"></div>

                        <div class="line_3" style="margin:13px 0px 35px;"></div>

                        <h3 style="font-size:16px;">图文专区</h3>
                        <div class="line_4" style="margin:-4px 0px 18px;"></div>
                        <div id="app">
                            <div class="block_topic_news">
                                <article v-for="list in articleList" class="block_topic_post">
                                    <p class="title"><a :href="'news_post.html#'+list.id">{{list.articleTitle}}</a></p>
                                    <div class="f_pic"><a :href="'news_post.html#'+list.id" class="general_pic_hover scale"><img :src="list.photos[0].url" alt="" /></a></div>
                                    <div class="info">
                                        <div class="date"><p>{{list.createTimeStr}}</p></div>

                                        <div class="r_part">
                                            <div class="category"><p><a href="#">{{list.tagName}}</a></p></div>
                                            <a href="#" class="views">{{list.viewCount}}</a>
                                        </div>
                                    </div>
                                </article>

                            </div>


                            <div class="line_3" style="margin:20px 0px 24px;"></div>

                            <div class="block_pager">
                                <a :href="'index.html#'+activeClass" class="prev" v-on:click="getArticleIndexPrev(activeClass)">上一页</a>
                                <a :href="'index.html#'+activeClass" class="next" v-on:click="getArticleIndexNext(activeClass)">下一页</a>

                                <div class="pages">
                                    <ul>
                                        <li v-for="pageIndex in pageIndexs" v-bind:class="activeClass == pageIndex?'current':''"><a :href="'index.html#'+pageIndex" v-on:click="getArticleIndex(pageIndex)">{{pageIndex}}</a></li>
                                    </ul>
                                </div>

                                <div class="clearboth"></div>
                            </div>
                        </div>
                        <div class="line_2" style="margin:24px 0px 35px;"></div>

                        <h3 style="font-size:16px;">Best Materials</h3>
                        <div class="line_4" style="margin:-4px 0px 18px;"></div>

                        <div class="block_best_materials">
                            <div class="slider">
                                <div id="best_materials_slider" class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <div class="block_best_material_post">
                                                <div class="f_pic"><a href="news_post.html" class="w_hover"><img src="images/pic_home_best_materials_1.jpg" alt="" /><span></span></a></div>
                                                <p class="title"><a href="news_post.html">Publishing packages and web page editors their.</a></p>
                                                <div class="info">
                                                    <div class="date"><p>08 July, 2012</p></div>
                                                    <div class="category"><p><a href="#">Business</a></p></div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="block_best_material_post">
                                                <div class="f_pic"><a href="news_post.html" class="w_hover"><img src="images/pic_home_best_materials_2.jpg" alt="" /><span></span></a></div>
                                                <p class="title"><a href="news_post.html">Publishing packages and web page editors their.</a></p>
                                                <div class="info">
                                                    <div class="date"><p>08 July, 2012</p></div>
                                                    <div class="category"><p><a href="#">People</a></p></div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="block_best_material_post">
                                                <div class="f_pic"><a href="news_post.html" class="w_hover"><img src="images/pic_home_best_materials_3.jpg" alt="" /><span></span></a></div>
                                                <p class="title"><a href="news_post.html">Publishing packages and web page editors their.</a></p>
                                                <div class="info">
                                                    <div class="date"><p>08 July, 2012</p></div>
                                                    <div class="category"><p><a href="#">Technology</a></p></div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="block_best_material_post">
                                                <div class="f_pic"><a href="news_post.html" class="w_hover"><img src="images/pic_home_best_materials_4.jpg" alt="" /><span></span></a></div>
                                                <p class="title"><a href="news_post.html">Publishing packages and web page editors their.</a></p>
                                                <div class="info">
                                                    <div class="date"><p>08 July, 2012</p></div>
                                                    <div class="category"><p><a href="#">Business</a></p></div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="block_best_material_post">
                                                <div class="f_pic"><a href="news_post.html" class="w_hover"><img src="images/pic_home_best_materials_5.jpg" alt="" /><span></span></a></div>
                                                <p class="title"><a href="news_post.html">Publishing packages and web page editors their.</a></p>
                                                <div class="info">
                                                    <div class="date"><p>08 July, 2012</p></div>
                                                    <div class="category"><p><a href="#">People</a></p></div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="block_best_material_post">
                                                <div class="f_pic"><a href="news_post.html" class="w_hover"><img src="images/pic_home_best_materials_6.jpg" alt="" /><span></span></a></div>
                                                <p class="title"><a href="news_post.html">Publishing packages and web page editors their.</a></p>
                                                <div class="info">
                                                    <div class="date"><p>08 July, 2012</p></div>
                                                    <div class="category"><p><a href="#">Technology</a></p></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <script type="text/javascript">
                                $(function () {
                                    $('#best_materials_slider').flexslider({
                                        animation: 'slide',
                                        controlNav: false,
                                        directionNav: true,
                                        animationLoop: false,
                                        slideshow: false,
                                        itemWidth: 213,
                                        itemMargin: 0,
                                        minItems: 1,
                                        maxItems: 3,
                                        move: 1,
                                        useCSS: false
                                    });
                                });
                            </script>
                        </div>

                        <div class="line_2" style="margin:20px 0px 0px;"></div>

                    </div>
                    
                    <div class="sidebar">

                        <div class="separator" style="height:31px;"></div>

                        <div class="block_popular_posts">
                            <h4>热门看点</h4>

                            <div class="article">
                                <div class="pic">
                                    <a href="#" class="w_hover">
                                        <img src="images/pic_popular_post_1.jpg" alt="" />
                                        <span></span>
                                    </a>
                                </div>

                                <div class="text">
                                    <p class="title"><a href="#">看点1</a></p>
                                    <div class="date"><p>2018/12/19</p></div>
                                    <div class="icons">
                                        <ul>
                                            <li><a href="#" class="views">41</a></li>
                                            <li><a href="#" class="comments">22</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="line_3"></div>

                            <div class="article">
                                <div class="pic">
                                    <a href="#" class="w_hover">
                                        <img src="images/pic_popular_post_2.jpg" alt="" />
                                        <span></span>
                                    </a>
                                </div>

                                <div class="text">
                                    <p class="title"><a href="#">看点2</a></p>
                                    <div class="date"><p>2018/12/19</p></div>
                                    <div class="icons">
                                        <ul>
                                            <li><a href="#" class="views">24</a></li>
                                            <li><a href="#" class="comments">16</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="line_3"></div>

                            <div class="article">
                                <div class="pic">
                                    <a href="#" class="w_hover">
                                        <img src="images/pic_popular_post_3.jpg" alt="" />
                                        <span></span>
                                    </a>
                                </div>

                                <div class="text">
                                    <p class="title"><a href="#">看点3</a></p>
                                    <div class="date"><p>2018/12/30</p></div>
                                    <div class="icons">
                                        <ul>
                                            <li><a href="#" class="views">33</a></li>
                                            <li><a href="#" class="comments">25</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="line_2"></div>
                        </div>

                        <div class="separator" style="height:31px;"></div>

                        <div class="separator" style="height:31px;"></div>

                        <div class="block_calendar">
                            <h4>日历</h4>

                            <div class="calendar" id="calendar_sidebar">
                            </div>

                            <script type="text/javascript">
                                var today = new Date();
                                var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                                $('#calendar_sidebar').DatePicker({
                                    flat: true,
                                    date: date,
                                    calendars: 1,
                                    starts: 1,
                                    locale: {
                                        days: ['周日', '周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                                        daysShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                                        daysMin: ['周日', '周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                                        months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                        monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                        weekMin: 'wk'
                                    }
                                });
                            </script>

                            <div class="line_2"></div>
                        </div>

                        <div class="separator" style="height:31px;"></div>

                        <div class="separator" style="height:31px;"></div>

                        <div class="block_popular_stuff">
                            <h4>Popular Photo</h4>

                            <div class="content">
                                <div class="media"><a href="images/pic_pop_photo_big.jpg" class="general_pic_hover zoom no_fx" data-rel="prettyPhoto" title="Popular Photo"><img src="images/pic_pop_photo.jpg" alt="" /></a></div>
                                <p><a href="blog_post_w_slider.html">Editors their default model text, and a search for will uncover many.</a> <img src="images/icon_photo.gif" alt="" /></p>
                                <p class="date">11 July, 2012</p>
                            </div>

                            <div class="info">
                                <ul>
                                    <li class="comments"><a href="#">100</a></li>
                                    <li class="views"><a href="#">134</a></li>
                                </ul>
                            </div>

                            <div class="clearboth"></div>

                            <div class="line_2"></div>
                        </div>

                        <div class="separator" style="height:31px;"></div>

                    </div>
                    
                	<div class="clearboth"></div>
                </div>
            </div>
        </div>
    	<!-- CONTENT END -->
        
        
    </div>
</body>

</html>