<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="c/css/bootstrap.css">
    <link rel="stylesheet" href="c/login/login.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">

    <script src="j/js/jquery.js"></script>
    <script src="j/js/bootstrap.js"></script>
    <script src="layout/js/vue.js" language="javascript"></script>
    <script src="layout/js/vue-resource.js" language="javascript"></script>
    <script>
        window.onload = function () {
            var app = new Vue({
                el: '#app',
                data: {
                    userName: '',
                    password: ''
                },
                methods: {
                    login: function () {
                        this.$http.post('/api/user/UserLogin', {
                            "userName": this.$data.userName,
                            "password": this.$data.password
                        })
                            .then(
                                function (res) {
                                    this.$data.canSee = false;
                                    window.location.href = "/index.html";
                                    alert('登录成功');

                                },
                                function () {
                                    alert('登录失败');   //失败处理
                                });
                    }
                }
            });
        };      
    </script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div>
        <div class="be-content pren">

            <div class="ioc_text">
                <img src="i/login/logo.png" alt="">
                <span>请登录您的用户</span>
            </div>

            <div id="app">
                <form action="">
                    <div class="br-content">

                        <div class="input-group mb-4 bootint">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" v-model="userName">
                        </div>

                        <div class="input-group mb-4 bootint">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Your Password" v-model="password">
                        </div>

                        <div class="br-text">
                            <p>
                                <span>忘记密码?</span>
                                <a href="">找回</a>
                            </p>
                        </div>
                        <div style="padding-top: 10px">
                            <input type="button" v-on:click="login" class="btn" value="登录">
                        </div>
                        <div class="be-con">
                            <span>Copyright © 2018 - 2019 <a href="">系统登陆</a></span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>
</html>