<!DOCTYPE html>
<html>

<head>
    <title>文章内容</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="layout/plugins/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="layout/style.css" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="layout/js/jquery.js"></script>
    <!-- PrettyPhoto start -->
    <link rel="stylesheet" href="layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css" />
    <script type="text/javascript" src="layout/plugins/prettyphoto/jquery.prettyPhoto.js"></script>
    <!-- PrettyPhoto end -->
    <!-- jQuery tools start -->
    <script type="text/javascript" src="layout/plugins/tools/jquery.tools.min.js"></script>
    <!-- jQuery tools end -->
    <!-- Calendar start -->
    <link rel="stylesheet" href="layout/plugins/calendar/calendar.css" type="text/css" />
    <script type="text/javascript" src="layout/plugins/calendar/calendar.js"></script>
    <!-- Calendar end -->
    <!-- ScrollTo start -->
    <script type="text/javascript" src="layout/plugins/scrollto/jquery.scroll.to.min.js"></script>
    <!-- ScrollTo end -->
    <!-- MediaElements start -->
    <link rel="stylesheet" href="layout/plugins/video-audio/mediaelementplayer.css" />
    <script src="layout/plugins/video-audio/mediaelement-and-player.js"></script>
    <!-- MediaElements end -->
    <!-- FlexSlider start -->
    <link rel="stylesheet" href="layout/plugins/flexslider/flexslider.css" type="text/css" />
    <script type="text/javascript" src="layout/plugins/flexslider/jquery.flexslider-min.js"></script>
    <!-- FlexSlider end -->
    <!-- iButtons start -->
    <link rel="stylesheet" href="layout/plugins/ibuttons/css/jquery.ibutton.css" type="text/css" />
    <script type="text/javascript" src="layout/plugins/ibuttons/lib/jquery.ibutton.min.js"></script>
    <!-- iButtons end -->
    <!-- jQuery Form Plugin start -->
    <script type="text/javascript" src="layout/plugins/ajaxform/jquery.form.js"></script>
    <!-- jQuery Form Plugin end -->
    <script type="text/javascript" src="layout/js/main.js"></script>
    <script src="layout/js/vue.js" language="javascript"></script>
    <script src="layout/js/vue-resource.js" language="javascript"></script>
    <script type="text/javascript">
        window.onload = function () {

            var content = new Vue({
                el: '#content',
                data: {
                    userName: '',
                    telephone: '',
                    viewCount: 0,
                    userContext:''
                },
                methods: {
                    getUserInfo: function () {
                        this.$http.get('api/user/GetUserInfoDetail?userId=' + location.hash.replace('#', ''))
                            .then(
                            function (res) {
                                this.$data.userName = res.body.userName;
                                this.$data.telephone = res.body.telephone;
                                this.$data.viewCount = res.body.viewCount;
                                this.$data.userContext = res.body.userContext;
                            },
                            function () {

                            }
                            );
                    }
                }
            });

            var login = new Vue({
                el: '#header',
                data: {
                    userName: '',
                    showLogin: true,
                    showUserName: false,
                    showRegister: true,
                    allTags: [],
                    activeTag: 0
                },
                methods: {
                    getUserName: function () {
                        this.$http.get('/api/user/GetUserName')
                            .then(
                                function (res) {
                                    if (res.body == "false") {
                                        this.$data.userName = "登录";
                                        this.$data.showLogin = true;
                                        this.$data.showUserName = false;

                                    }
                                    else {
                                        this.$data.userName = res.body;
                                        this.$data.showLogin = false;
                                        this.$data.showUserName = true;
                                        this.$data.showRegister = false;
                                    }
                                },
                                function () {
                                    this.$data.userName = "登录";
                                    this.$data.showLogin = true;
                                    this.$data.showUserName = false;
                                });
                    },
                    //获取所有标签
                    getAllTags: function () {
                        this.$http.get('api/tag/GetAllTag')
                            .then(
                                function (res) {
                                    this.$data.allTags = res.body;
                                },
                                function () {
                                    alert("请求获取失败");
                                }
                            );
                    },

                    //将TagId赋值实现点击按钮设置当前页
                    getTagId: function (id) {
                        this.$data.activeTag = id;
                    }

                }
            });
            
            login.getAllTags();
            login.getUserName();
            content.getUserInfo();
        };
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div class="wrapper sticky_footer">
        <!-- HEADER BEGIN -->
        <header>
            <div id="header">
                <section class="top">
                    <div class="inner">
                        <div class="fl">
                            <div class="block_top_menu">
                                <ul>
                                    <li class="current"><a href="index.html">主页</a></li>
                                    <li><a href="contact.html">联系我们</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="fr">
                            <div class="block_top_menu">
                                <ul>
                                    <li class="current" v-if="showLogin"><a href="demo.html">登录&注册</a></li>
                                    <li class="current" v-if="showUserName"><a href="#">{{userName}}</a></li>
                                    <li v-if="showUserName"><a href="demo.html">切换账号</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="clearboth"></div>
                    </div>
                </section>

                <section class="bottom">
                    <div class="inner">
                        <div id="logo_top"><h3>PhotoCommunity<br>摄影图片分享交流网站<br>连接摄影爱好者的桥梁</h3></div>

                        <div class="block_today_date">
                            <div class="num"><p id="num_top" /></div>
                            <div class="other">
                                <p class="month_year"><span id="month_top"></span>, <span id="year_top"></span></p>
                                <p id="day_top" class="day" />
                            </div>
                        </div>

                        <div class="fr">
                            <div class="block_languages">
                                <div class="clearboth"></div>
                            </div>

                            <div class="block_search_top">
                                <form action="#" />
                                <div class="field"><input type="text" class="w_def_text" title="搜索文章" /></div>
                                <input type="submit" class="button" value="Search" />

                                <div class="clearboth"></div>
                                </form>
                            </div>
                        </div>

                        <div class="clearboth"></div>
                    </div>
                </section>

                <section class="section_main_menu">
                    <div class="inner">
                        <nav class="main_menu">
                            <ul>
                                <li class="big_dropdown">
                                    <a href="index.html">主页</a>
                                </li>
                                <li class="current_page_item"><a href="user.html">用户信息</a></li>
                                <li class="big_dropdown" v-if="showUserName"><a href="upload.html">上传作品</a></li>

                                <li v-for="tag in allTags" v-bind:class="activeTag == tag.id?'current_page_item':'big_dropdown'" data-content="business" v-on:click="getTagId(tag.id)"><a :href="'content.html#'+tag.id">{{tag.tagName}}</a></li>

                                <li>
                                    <a href="media.html">Media</a>

                                    <ul>
                                        <li><a href="media.html">Media</a></li>
                                        <li><a href="media_item.html">Media Item Page</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Pages</a>

                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="about_author.html">About Author Page</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="registration.html">Registration Page</a></li>
                                        <li><a href="main_news.html">Main News Page</a></li>
                                        <li><a href="news_post_w_slider.html">News Post With Slider</a></li>
                                        <li><a href="news_post_w_video.html">News Post With Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>



                <section class="section_secondary_menu">
                    <div class="inner">
                        <div class="block_clock">
                            <p>Time: <span id="time"></span></p>
                        </div>
                    </div>
                </section>
            </div>
        </header>
        <!-- HEADER END -->
        <!-- CONTENT BEGIN -->
        <div id="content" class="right_sidebar">
            <div class="inner">
                <div class="general_content">
                    <div class="main_content">
                        <div class="block_breadcrumbs">
                        </div>
                        <div class="separator" style="height:30px;"></div>

                        <article class="block_single_news">
                            <div class="f_pic"><a href="#"><img src="images/pic_flickr_5.png" alt="" /></a></div>
                            <p class="title"><a href="#">{{userName}}</a></p>

                            <div class="info">
                                <div class="date"><p>联系方式：{{telephone}}</p></div>

                                <div class="r_part">
                                    <a href="#" class="views">该用户的作品被浏览的次数：{{viewCount}}</a>
                                </div>
                            </div>

                            <div class="content">
                                <p>个人简介：{{userContext}}</p>
                            </div>
                            <div class="separator" style="height:4px;"></div>
                            <div class="line_2" style="margin:5px 0px 30px;"></div>
                        </article>
                        <div class="separator" style="height:30px;"></div>

                    </div>



                    <div class="clearboth"></div>
                </div>
            </div>
        </div>
        <!-- CONTENT END -->
    </div>
</body>

</html>